.cart-container{
    margin-top: 134px;
    background-color: white;
}

.qauntity{
    display: flex ; 
    
    justify-content: space-between;
}
.qauntity button{
    border: none;
    background-color: white;
}
.qauntity span{
    padding-top: 2px;
}