.main-container {
    padding-top: 34px;
    min-Height: 100vh;
    background-color:#191919;
    display: flex;
    justify-Content: center;
}

.product-container {
    width: 85%;
}

.addCart-btn {
    background-color: #0b8585;
    width: 50%;
}

.addCart-btn:hover {
    background-color: #393939;
}

.cart-btn {
    color: white !important;
}
p{
    color: white;
}
a {
    text-decoration: none;
}
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }