.main-container {
    margin-Top: 114px;
    display: flex;
    justify-Content: center;
    min-Height: 100vh;
}

.product-container {
    width: 93%;
}

.addCart-btn {
    background-color: #070604;
    width: 70%;
    border-radius: 15px;
}

.addCart-btn:hover {
    background-color: #393939;
}

.cart-btn {
    color: white !important;
}

a {
    text-decoration: none;
}