body {
    height: 670px;
    display: flex;
    align-items: center;
    width: auto;
}

.product-container {
    height: 100%;
}

.main-container {
    background-color: #E7F6F2;
    width: 1519px;
    height: auto;
    padding-left: 75px;
    display: flex;
}

.addCart-btn {
    background-color: #070604;
    width: 70%;
    border-radius: 15px;
}

.addCart-btn:hover {
    background-color: #7D0A0A;
}

.cart-btn {
    color: white !important;
}

a {
    text-decoration: none;
}