.input-group{
    padding: 20px 0px;
}
.header{
    background-color:#7D0A0A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo{
    color: white;
    text-align: left;
}
.logo span{
    font-size: xxx-large;
    cursor: pointer;
}
.container{
    width: 1200px;
}
.header-right{
    display: flex;
   align-items: center;
    justify-content: space-evenly;
}
.header-icons{
    display: flex;
    justify-content: space-around;
}
.logout-btn, .login-btn{
    margin-left: 50px;
}
.cart-icon{
    color: white;
    margin-top: 5px;
    margin-left: 42px;
    cursor:pointer;
}
.cart-count{
    position: absolute;
    background-color: #0d6efd;
    color: rgb(255 247 247);
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 12px;
    font-weight: bolder;
    margin-left: -8px;
}
.btn{
    background-color:#EAD196;
    border: 0px;
}

.btn:hover{
    background-color: #E7F6F2;
    color:black;
}
.account{
    color: white;
    margin-left: 24px;
}
