.navbar{
    background-color: white;
    position: fixed;
    top:57px;
    z-index: 1000;
    width: 100%;
}
.nav-item{
    padding-left: 100px;
}

a{
    font-weight: 600;
    color: black;
    font-size: 1rem;
}


