.navbar{
    background-color: white;
    position: fixed;
    top:77px;
    z-index: 1000;
    width: 100%;
}
.nav-item{
    padding-right: 50px;
}
.container-fluid{
    width: 1200px;
}
a{
    font-weight: 600;
    color: black;
    font-size: 1rem;
}


